@use "../custom" as *;

.team {
    background: url(/images/contact-bg.jpg)
        50% 0
        repeat-y
        fixed;
    background-size: cover;
    background-position: center
        center;
    position: relative;



    input{
        height: 55px;
        line-height: 45px;
    }
}

.team
    .form-control {
    border: none;
    box-shadow: none;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 22px;
}

.team
    .form-control:focus {
    border-color: #d9d9d9;
}
