@use "../custom" as *;


#navbar {
    font-weight: normal;
    font-size: 25px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background-color: black;
    background: black;
}

#navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .navbar-brand {
    font-weight: normal;
    font-size: 25px;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    background: black;
}

.menu {

    a {
        color: #fff !important;
    }

    a:hover {
        color: #fff !important;
    }
}

.navbar .navbar-nav .nav-link {
    color: #fff;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 0 1rem;
    text-transform: uppercase;
    transition: all-in-ease 0.4s;
}

.navbar .navbar-nav .nav-link:hover {
    background: transparent;
    color: #fff;
}

.navbar .navbar-nav .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: transparent;
    transition: width 0.3s ease,
        background-color 0.3s ease;
}

.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
    background-color: #fff;
    color: #fff;
}




.showcase {
    h1 {
        color: #fff;
        font-size: 6vw;
        line-height: 1.2em;
    }

    p {
        color: rgba(250,
                250,
                250,
                0.7);
    }
}

// .home-text {
//     z-index: 99;
// }

.showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,
            0,
            0,
            0.75);
}

.showcase {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;

}


.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.video-container video {
    min-width: 100%;
    min-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.bg {
    background: transparent;
    transition: 0.2s ease;
}

// .bg.scrolled {
//     background: #4dc47d;
// }