@use "../custom" as *;

.achievments-2-part {
    font-family: "Inter",
        sans-serif;

    h1 {
        padding-top: 3rem;
        font-size: 30px;
        font-weight: 600;
    }
    h5 {

        padding-top: 0.455rem;
        font-size: 18px;
        padding-bottom: 2rem;


    }
}

.achiev-2-part-photo{
    position: absolute;
    margin-left: 8rem;

    img{
        width: 80%;
    }

}

.dots-achievments2{
    z-index: -1000;
    position: relative;
    margin-top: 2.4rem;
    margin-left: 7rem;

        img{
            width: 47%;
        }

}


.dots-achievments2-1{
    z-index: -100;
    position: relative;
    margin-top: 10rem;
    margin-left: 47rem;

        img{
            width: 87%;
        }

}