@use "../custom" as *;

.achievmentspart3 {
    font-family: "Inter",
        sans-serif;
    margin-top: 0.2rem;
    position: relative;
    background-color: #D6D6D6;
    padding-bottom: 8rem;
}

.achiev-col-3 {
    margin-top: 8rem;
}

.cover-image {
    i {
        margin: 0.5rem 0.5rem;
        padding: 15px 20px;
        font-size: 30px;
        color: $primary;
        background-color: #fff;
        border-radius: 50%;
    }
}

.cover-image {
    width: 100%;
    text-align: center;
    padding: 5px;
}

.achiev-col-4 {
    padding-top: 8rem;
    font-family: "Inter",
        sans-serif;

    h3 {
        font-weight: 600;
        padding-top: 1rem;
    }

    h5 {
        line-height: 170%;
        padding-top: 0.7rem;
        font-size: 13px;
    }
}

.free-btn-4 {
    font-family: "Inter",
        sans-serif;
    z-index: 1;
    font-weight: 500;
    padding: 12px;
    background: $yellow;
    color: $black;
    text-decoration: none;
    border-radius: 3px;
}

.achiev-right-sec {
    padding: 0 100px;
}
