@use "../custom" as *;

.achievments-part-1 {

    font-size: 17px;
    font-family: "Inter",
        sans-serif;
    z-index: -100;
    margin-top: -3rem;
    position: relative;
    background-color: #D6D6D6;
    
    #achieve1{
        position: relative;
    }
    th {

        padding: 0.7rem
            4rem;

            b::before{
                content:'';
                width: 30px;
                height: 4px;
                background: blue;
                position: absolute;
                top: 120px;
                left: 145px;
            }

            b::after{
                content:'';
                width: 30px;
                height: 4px;
                background: blue;
                position: absolute;
                top: 120px;
                left: 470px;
            }
    }
}





.achiev-col-1 {
    font-family: "Inter",
        sans-serif;
    padding-left: 16.2rem;

    h3 {
        padding-top: 7rem;
    }

    h5 {
        padding-top: 0.7rem;
        font-size: 13px;
    }
}
.free-btn-3 {
    font-family: "Inter",
        sans-serif;
    z-index: 1;
    font-weight: 500;
    padding: 8px;
    background: $yellow;
    color: $black;
    text-decoration: none;
    border-radius: 5px;
}

.achiev-col-2 {
    position: absolute;
    top: 13rem;
    right: -13.977rem;

    img {
        width: 70%;
    }
}




.dots-achievments {
    

    z-index: -1000;
    position: relative;
    margin-top: 4rem;
    margin-left: 36rem;

        img{
            width: 72%;
        }


    
}
