@use "../custom" as *;

.blogpostbackground {
    background-color: $primary;
}

.card {
    &--2 {

        padding: 0 0;
        z-index: 2;
        font-family: "Inter",
            sans-serif;
        border-radius: 4px;
        background-color: #fff;
        border-width: 0;

        
            
            
        
    }
}
.blogstart {
    color: #fff;
    padding-top: 8rem;
    padding-bottom: 6rem;
    font-family: "Inter",
        sans-serif;
    text-align: center;
    font-size: 30px;
}

.blogcard-1 {
   padding: 2.3rem 1rem;
    
    font-family: "Inter",
        sans-serif;

    p {
        font-size: 20px;
        font-weight: 800;
        
    }
}

.sub-card {
    i {
        padding-bottom: 1rem;
       margin-bottom: -2rem;
        color: gray;
    }
}

.blogposth5 {
    h6 {
        padding-bottom: 1rem;
        font-weight: 300;
        margin-bottom: -2rem;
        font-size: 16px;
        margin-left: 1.6rem;
    }
}

.dots-blog1 {
    position: relative;
    margin-top: -11rem;
    margin-left: 35rem;
    padding-bottom: 3rem;
}
