@use "../custom" as *;


.card-consult {
    margin-top: 13rem;
    margin-left: 28rem;
    border-radius: 15px;

    i {
        position: relative;
        color: $green;
    }

    h5 {
        font-size: 30px;
        font-weight: 700;
        margin-left: 3rem;
        margin-top: -2.3rem;
    }

    h6 {
        padding-top: 0.7rem;
        line-height: 26px;
        text-align: center;
    }
}

.dots-consult {
    z-index: -1000;
    position: relative;
    margin-top: -2.12222rem;
    margin-left: 13rem;

    img {
        width: 70%;
    }
}

.consult-subheading {
    text-align: center;
    margin-top: -5rem;
    font-size: 37px;
    font-weight: 700;
    padding-bottom: 1rem;
}

.free-btn-5 {
    font-family: "Inter",
        sans-serif;
    z-index: 1;
    font-weight: 600;
    padding: 14px;
    background: $yellow;
    color: $black;
    text-decoration: none;
    border-radius: 3px;

    margin-left: 25.7rem;
}
.consult-image {
    position: absolute;

    &--1 {
        width: 34%;
        z-index: -1000;
        margin-top: -70rem;
        margin-left: -10rem;
    }

    &--2 {
        width: 22%;
        z-index: -1000;
        margin-top: -50rem;
        margin-left: -2rem;
    }
    &--3 {
        width: 25%;
        z-index: -1000;
        margin-top: -9rem;
        margin-left: -30rem;
    }
    &--4 {
        width: 25%;
        z-index: -1000;
        margin-top: -70rem;
        margin-left: 19rem;
    }
    &--5 {
        width: 25%;
        z-index: -1000;
        margin-top: -15rem;
        margin-left: 60rem;
        
    }
    &--6 {
        width: 25%;
        z-index: -1000;
        margin-top: -60rem;
        margin-left: 74rem;
        
    }
}
