@use '../custom' as *;

.footer-last{
    background-color: $black;
    font-family: 'Inter', sans-serif;;
}



.footer-col-1{
    padding-bottom: 2rem;
    padding-top: 4rem;
    margin-left: 6rem;

    

    h3{
        color: #fff;
    }


    p{
        padding-top: 1.3rem;
        color: gray;
        font-weight: 500;
    }
}
.footer-col-2{
    padding-bottom: 2rem;
    padding-top: 4rem;

    margin-left: 6rem;

    h3{
        color: #fff;
        padding-bottom: 1rem;
    }


    li{
        padding: 5px;
        margin-left: -2rem;
        list-style: none;
        color: gray;
        font-weight: 600;

        a{
            text-decoration: none;
            color: gray;
        }
    }
}
.footer-col-3{
    padding-bottom: 2rem;
    padding-top: 4rem;

    margin-left: 4rem;

    h3{
        color: #fff;
        padding-bottom: 1rem;
    }


    li{
        text-decoration: none;
        padding: 5px;
        margin-left: -2rem;
        list-style: none;
        color: gray;
        font-weight: 600;
        a{
            text-decoration: none;
            color: gray;
        }
    }
}


.footer-col-4{
   

    p{
      margin-left: -3rem;

        a{
            text-decoration: none;
            color: gray;
        }
    }
}


.footer-col-5{

    i{
        color: white;
        width: 40px;
    }
}


